.venv
/backend/temp_data
awscliv2.zip
export_keys.sh
/backend/RUHealthHacks
/backend/data/hefty
/infra/.terraform
/infra/infra-db-only/.terraform
configure_envs.sh
.env
SECRET.txt
SECRET.sh
__pycache__/
.pyc
.pyo
.pyd
